# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.coverage*
coverage*/

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Node / Frontend
node_modules/
.next/
*.log

# OS/editor
.DS_Store
.idea/
.vscode/

# Env/Secrets
.env
.env.*

# Project
logs/
.ipynb_checkpoints/